body {
    background-color: #577BC1;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: orange;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #88E0EF;
}

h3 {
    color: #2FDD92;
}